*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding-inline: 2em;
    background-color: rgb(225,225,225,0.2);
}
h1{
    margin-block: 1em;
    color: #000;
    text-decoration-line: underline;
}
a{
    font-weight: 500;
    margin: 1em;
    cursor: pointer;
}
.table{
    width: 100%;
}

